@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar_items {
  @apply link link-hover capitalize text-[1.4rem] md:text-[1rem];
}

.text_gradient {
  background: linear-gradient(
    90deg,
    rgba(58, 232, 73, 0.8) 0%,
    rgba(25, 118, 10, 0.8) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
